* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato'
}

nav {
    background-color: #FFC0A6;
}


.navbar-nav a:hover {
    color: #422114
}

.navbar-logo {
    height: 80px;
    width: auto;
    border-radius: 50%;
}

#button {
    background-color: #422114;
    color: #FFC0A6;
    border: 2px solid transparent;
}

#button:hover {
    background-color: #FFC0A6;
    color: #422114;
    border: solid 2px #422114
}