<link href="{{ url_for('static', filename='css/admin_navbar.css') }}" rel="stylesheet">


<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse p-0">
    <div class="position-sticky">
      <ul class="nav flex-column">
        <p class="link-dark text-center text-decoration-none role fs-4 p-2">
            [INSERT ADMIN]
        </p>
        <ul class="nav nav-pills flex-column mb-auto px-2">
            <li class="nav-item">
                <a href="#" class="nav-link link-dark fs-5 fw-bold" aria-current="page">
                  Dashboard
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark fs-5 fw-bold">
                  User
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark fs-5 fw-bold">
                  Admin
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark fs-5 fw-bold">
                  Feedback
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark fs-5 fw-bold">
                  Events
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark fs-5 fw-bold">
                  Logs
                </a>
            </li>
        </ul>
      </ul>
    </div>
  </nav>