<link href="{{ url_for('static', filename='css/footer.css') }}" rel="stylesheet">
<footer>
    <div class="footer-container">
        <div class="footer-column fs-6 fw-bold">
            <h4 class="fs-5">Address</h4>
            <p>482 Maple Hollow Lane<br>Brookhaven, OR 97421<br>USA</p>
        </div>
        <div class="footer-column">
            <h4 class="fs-5">Location</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.6611775835236!2d103.84637377494191!3d1.3799553614784033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da16eb64b0249d%3A0xe5f10ff680eed942!2sNanyang%20Polytechnic!5e0!3m2!1sen!2ssg!4v1736327744310!5m2!1sen!2ssg" width="100%" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="location-map"></iframe>
        </div>
        <div class="footer-column">
            <h4 class="fs-5">Quick Links</h4>
            <ul class="fs-6 fw-bold">
                <li><a href="#">HOME</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">ABOUT US</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h4 class="fs-5">Find Us At</h4>
            <ul class="fs-6 fw-bold">
                <li><a href="https://facebook.com" target="_blank">FACEBOOK</a></li>
                <li><a href="https://instagram.com" target="_blank">INSTAGRAM</a></li>
                <li><a href="https://twitter.com" target="_blank">TWITTER</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h4 class="fs-5">Others</h4>
            <ul class="fs-6 fw-bold">
                <li><a href="/privacy">PRIVACY POLICY</a></li>
                <li><a href="/terms">TERMS & CONDITIONS</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom fs-5">
        <p>&copy; 2025 ElderLink. All rights reserved.</p>
    </div>
</footer>